In [2]:
# Only use "ADNIMERGE.csv" as phenotype and covariate data.

import numpy as np
import pandas as pd

Load sample names of VCF data.

In [7]:
VCFsamplelist = pd.read_csv("ADNI/WGS_Omni2.5M_20140220/vcfsample_list.txt", header = None)
VCFsamplelist_IND = VCFsamplelist.applymap(lambda x: x.split("_")[0]).iloc[:,0]
VCFsamplelist_IND = VCFsamplelist_IND.rename('IND')
VCFsamplelist_ID = VCFsamplelist.applymap(lambda x: x.split("_")[1]).iloc[:,0]
VCFsamplelist_ID = VCFsamplelist_ID.rename('ID')
VCFsamplelist = pd.concat([VCFsamplelist_IND,VCFsamplelist_ID],axis=1)

In [8]:
VCFsamplelist = VCFsamplelist.rename(columns={'IND':'FID', 'ID':'IID'})
#VCFsamplelist_data.to_csv("keep_samples.txt", sep="\t", index=False)
VCFsamplelist = VCFsamplelist.sort_values('IID')
VCFsamplelist

     FID   IID
16    17  0002
581  587  0008
316  319  0015
616  622  0021
688  694  0023
152  154  0031
680  686  0035
614  620  0042
756  763  0047
804  811  0051
617  623  0055
0      1  0056
213  215  0058
2      3  0059
684  690  0061
61    63  0068
728  735  0069
124  126  0072
659  665  0074
31    32  0089
292  295  0096
348  352  0101
451  456  0106
586  592  0107
1      2  0108
323  326  0112
435  439  0113
21    22  0116
447  452  0118
505  510  0120
..   ...   ...
575  581  4609
272  274  4610
265  267  4611
362  366  4612
570  575  4613
426  430  4614
374  378  4615
554  559  4620
270  272  4621
416  420  4625
398  402  4626
432  436  4629
571  576  4635
415  419  4636
579  585  4637
271  273  4641
612  618  4643
572  577  4645
433  437  4653
424  428  4654
610  616  4657
540  545  4659
715  722  4660
430  434  4668
38    39  4672
668  674  4676
732  739  4686
483  488  4692
749  756  4696
390  394  4707

[812 rows x 2 columns]

In [9]:
# Merge summary data.
ADNI_BASIC_data = pd.read_csv("ADNI/Cov/ADNIMERGE.csv")
ADNI_BASIC_data = ADNI_BASIC_data[ADNI_BASIC_data.iloc[:,4]!="ADNI3"]
ADNI_BASIC_data = ADNI_BASIC_data[ADNI_BASIC_data["VISCODE"]=="bl"]

ADNI_BASIC_data.loc[ADNI_BASIC_data["ABETA_bl"]==">1700","ABETA_bl"] = 1700
ADNI_BASIC_data.loc[ADNI_BASIC_data["ABETA_bl"]=="<200","ABETA_bl"] =200
ADNI_BASIC_data = ADNI_BASIC_data.astype({"ABETA_bl": "float"})
ADNI_BASIC_data.loc[ADNI_BASIC_data["TAU_bl"]==">1300","TAU_bl"] = 1300
ADNI_BASIC_data.loc[ADNI_BASIC_data["TAU_bl"]=="<80","TAU_bl"] = 80
ADNI_BASIC_data = ADNI_BASIC_data.astype({"TAU_bl": "float"})
ADNI_BASIC_data.loc[ADNI_BASIC_data["PTAU_bl"]==">120","PTAU_bl"] = 120
ADNI_BASIC_data.loc[ADNI_BASIC_data["PTAU_bl"]=="<8","PTAU_bl"] = 8
ADNI_BASIC_data = ADNI_BASIC_data.astype({"PTAU_bl": "float"})
    
ADNI_BASIC_data = ADNI_BASIC_data[~np.isnan(ADNI_BASIC_data["ABETA_bl"])]
ADNI_BASIC_data = ADNI_BASIC_data[["RID", "VISCODE", "AGE", "PTGENDER", "APOE4", "ABETA_bl","TAU_bl","PTAU_bl", "EXAMDATE"]]

ADNI_BASIC_data = ADNI_BASIC_data.astype({"RID": "int64"})
ADNI_BASIC_data["RID"] = ADNI_BASIC_data["RID"].apply(lambda x:str(x).zfill(4))
ADNI_BASIC_data = ADNI_BASIC_data.sort_values("RID")

ADNI_BASIC_data = ADNI_BASIC_data[ADNI_BASIC_data["RID"].isin(VCFsamplelist["IID"])]

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (18,19,20,103,104) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
def gender2val(df):
    if df["PTGENDER"] == "Male":
        return 1
    elif df["PTGENDER"] == "Female":
        return 0

for rid in ADNI_BASIC_data["RID"].iteritems():
    ridval = rid[1]
    #print(ADNI_BASIC_data.loc[ADNI_BASIC_data["RID"]==rid[1],:])
    ADNI_BASIC_data.loc[ADNI_BASIC_data["RID"]==ridval,"FID"] = VCFsamplelist.loc[VCFsamplelist["IID"]==ridval,"FID"].values
ADNI_BASIC_data["SEX"] = ADNI_BASIC_data.apply(gender2val, axis=1)
ADNI_BASIC_data = ADNI_BASIC_data.rename(columns={'RID': 'IID'})
ADNI_BASIC_data = ADNI_BASIC_data[["FID","IID","ABETA_bl","TAU_bl","PTAU_bl","AGE","SEX","APOE4","EXAMDATE"]]
ADNI_BASIC_data = ADNI_BASIC_data.astype({"FID": "int64"})
ADNI_BASIC_data = ADNI_BASIC_data.sort_values("FID")


ADNI_BASIC_data_cov = ADNI_BASIC_data[["FID","IID","AGE","SEX","APOE4"]]
ADNI_BASIC_data_cov.to_csv("cov_merge_ADNI_CSF.txt", sep="\t", index=False)

ADNI_BASIC_data_pheno = ADNI_BASIC_data[["FID","IID","ABETA_bl","TAU_bl","PTAU_bl"]]
ADNI_BASIC_data_pheno.to_csv("pheno_merge_ADNI_CSF.txt", sep="\t", index=False)

In [11]:
ADNI_BASIC_data

       FID   IID  ABETA_bl  TAU_bl  PTAU_bl   AGE  SEX  APOE4    EXAMDATE
106      1  0056    1048.0  128.20    12.23  69.6    0    0.0  2005-12-22
122      3  0059    1605.0  186.40    16.69  70.9    0    0.0  2005-12-22
12148    5  2237    1700.0  185.30    16.42  65.0    1    0.0  2011-01-26
316      6  0123    1566.0  290.10    26.30  73.3    1    0.0  2006-02-07
563      8  0256     288.4  293.90    27.12  70.1    1    2.0  2006-04-05
3042    10  2264     839.5  234.00    21.16  69.3    1    1.0  2011-03-11
3008    11  2216     530.0  234.00    23.14  68.1    1    1.0  2011-03-10
754     15  0331     588.0  417.10    39.86  64.6    0    2.0  2006-04-06
638     16  0285     844.4  365.10    37.99  65.6    1    1.0  2006-04-03
2126    21  1030     862.4  396.20    39.82  67.4    1    0.0  2006-11-13
4916    23  2164    1097.0  132.00    12.57  70.9    0    0.0  2010-12-02
3002    25  2205     336.6  247.80    23.28  84.7    1    0.0  2010-12-09
9180    27  4026     509.2  197.80    18.33  73.5    1    0.0  2011-06-22
12089   29  2182    1700.0  207.20    19.22  65.5    1    0.0  2011-02-16
8722    30  4167     645.3  301.70    29.43  69.5    0    1.0  2011-08-25
212     32  0089    1414.0  158.90    14.88  65.1    1    0.0  2006-01-31
2918    33  2099    1638.0  428.90    42.53  83.7    0    0.0  2010-10-19
2899    35  2072    1440.0  171.30    15.13  72.8    1    0.0  2010-09-21
2922    36  2100     673.7  386.50    40.16  87.8    0    0.0  2010-10-12
1924    38  0926    1351.0  151.70    14.22  71.4    0    0.0  2006-10-16
4383    39  4672     447.8  337.50    33.17  66.8    1    2.0  2012-04-30
1720    42  0834     524.4  317.90    33.90  63.9    1    1.0  2006-10-17
2808    43  1414    1308.0  213.70    18.62  74.3    1    1.0  2007-08-23
4950    44  2070    1385.0  132.40    12.83  57.0    0    0.0  2010-09-20
11992   47  2027    1700.0  167.20    14.41  61.9    0    0.0  2010-08-26
5085    50  0626     644.9  379.30    36.67  83.2    1    0.0  2006-08-07
1547    57  0729     957.8  316.90    31.69  65.1    0    1.0  2006-08-02
8545    59  4198     712.2  193.50    19.27  78.4    0    1.0  2011-09-20
6801    60  0778     668.2  218.70    20.65  72.4    1    1.0  2006-09-11
12126   64  2219    1700.0  313.80    29.38  74.3    1    0.0  2010-12-20
...    ...   ...       ...     ...      ...   ...  ...    ...         ...
8756   781  4158    1644.0  203.80    16.87  84.3    1    0.0  2011-08-22
8677   783  4172     651.4  382.00    47.67  75.8    1    0.0  2011-09-01
8614   784  4185     723.1  101.90     9.55  80.4    1    0.0  2011-09-29
1389   786  0649     669.3  420.30    42.03  86.7    1    1.0  2006-08-16
8579   787  4192     564.5  224.60    21.54  82.2    1    1.0  2011-10-06
8527   788  4200    1544.0  146.50    13.05  70.2    0    0.0  2011-10-17
9209   791  4014     443.5  313.20    30.92  80.7    1    0.0  2011-05-31
9185   792  4024     934.2  616.40    67.97  55.9    0    1.0  2011-04-29
1428   793  0671     578.9  328.20    35.23  61.0    0    1.0  2006-07-05
8967   795  4090    1687.0  195.70    17.53  71.4    1    0.0  2011-07-11
4859   797  2392    1167.0  174.70    15.51  64.4    0    0.0  2011-07-12
12305  798  4041    1700.0  377.90    30.42  77.9    0    0.0  2011-06-08
8468   799  4214     879.9  115.80     9.39  74.2    1    0.0  2011-10-03
8900   800  4114     916.1  525.10    47.82  55.0    0    1.0  2011-07-27
8944   801  4096     267.2  204.50    20.04  84.5    1    2.0  2011-08-09
8712   802  4168     723.4  240.50    21.10  82.2    1    1.0  2011-09-08
8841   803  4131     589.1  308.60    28.22  82.4    1    1.0  2011-08-05
3025   804  2240    1146.0  489.10    42.76  78.0    1    1.0  2011-01-05
3028   805  2245    1213.0  244.60    20.95  57.0    0    2.0  2011-01-11
7853   806  1268     545.1  155.40    14.62  82.7    1    1.0  2007-03-07
9122   808  4050     955.7  157.10    12.31  77.0    1    0.0  2011-06-21
8860   809  4127     744.5   99.79     8.21  63.1    0    0.0  2011-08-11
8693   810  4170    1073.0  168.90    17.37  65.6    0    1.0  2011-09-08
91     811  0051     352.5  285.10    28.40  66.5    1    2.0  2005-12-08
3047   812  2284     791.6  170.60    15.13  76.6    1    1.0  2011-02-24
2870   813  2042     827.6  124.10    10.58  69.5    1    0.0  2010-08-25
7802   815  4302     948.3  321.10    31.98  76.1    1    0.0  2011-11-18
2928   816  2109     532.1  274.70    28.79  75.2    1    0.0  2010-10-18
8336   817  4244     654.3  145.40    12.16  91.4    1    0.0  2011-11-22
12584  818  4356    1700.0  553.50    52.30  68.1    1    0.0  2011-11-28

[617 rows x 9 columns]